<!DOCTYPE html>
<html>
<head>
	<title>CAUTION</title>
	<style type="text/css">
		main{
			margin: 200px;
			padding-top: 10px;
			padding-right: 50px;
			padding-left: 50px;
			background-color: yellow;
		}
		body{
			background-color: black;
		}

		#caution{
			font-family: verdana;
			font-size: 50px;
			padding: 20px;
			background-color: black;
			color: yellow;
		}
		#site{
			font-family: verdana;
			font-size: 60px;
			padding-bottom: 50px;
		}
		
	</style>
</head>
<main>
	<body>
		
		<center><p id="caution">☠ CAUTION ☠</p></center>
		<center><p id="site">This site is under construction.</p></center>
	</body>
</main>
</html>