<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hyper car</title>
    <style>
        div{
            font-family: verdana;
            font-size: 50px;
        }
        h1{
            font-family: verdana;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Information</h1>
        <div>
            <p>Your number is <strong style="color: red">{{ticket_id}}</strong></p>
        </div>
        <div>
            <p>Please wait around {{time}} minutes</p>
        </div>
    </center>
</body>
</html>