<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hyper Car</title>
    <style type="text/css">
        body {
            text-align: center;
			font-family: candara;
			font-size: 30px;
			margin: 50px;
			background: rgb(216,182,80)
        }
        a{
            color: teal;
        }
    </style>
</head>
<body>
    <br>
    <center><h1>Menu</h1></center>
    <hr>
    <br>
    <center>
        <ul style="list-style-position: inside">
            <li><a target="_blank" href="/get_ticket/change_oil">Change oil</a></li>
            <li><a target="_blank" href="/get_ticket/inflate_tires">Inflate tires</a></li>
            <li><a target="_blank" href="/get_ticket/diagnostic">Get diagnostic test</a></li>
        </ul>
    </center>
</body>
</html>